/* ==============
Root
=============== */
@media (prefers-color-scheme: light) {
    :root {
        --color-menu-background-alt: rgba(235, 235, 235, 0.8) !important;
        --color-scroller-thumb-alt: rgba(0, 0, 0, 0.22) !important;
        --color-header-alt: rgba(253, 253, 253, 1) !important;
        --color-fake-vibrancy: rgba(237, 237, 237, 1) !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-menu-background-alt: rgba(40, 40, 40, 0.8) !important;
        --color-scroller-thumb-alt: rgba(255, 255, 255, 0.33) !important;
        --color-header-alt: rgba(53, 53, 53, 1) !important;
        --color-fake-vibrancy: rgba(36, 36, 36, 1) !important;
    }
}

/* ==============
Header
=============== */
/* Draggable*/
div.notion-topbar {
  -webkit-app-region: drag;
}
div.notion-sidebar-container {
  -webkit-app-region: drag;
}
html.notion-front-page{
  -webkit-app-region: drag;
}

#notion-app > div > div.notion-cursor-listener > div:nth-child(4) > div > div > div > div:nth-child(2) {
  -webkit-app-region: drag;
}

div.notion-topbar-action-buttons {
  -webkit-app-region: no-drag !important;
}

div.notion-sidebar {
  -webkit-app-region: no-drag !important;
}

/* move some items out of way for the traffic light */
div.notion-sidebar {
  margin-top: 45px !important;
}

#notion-app > div > div.notion-cursor-listener > div:nth-child(2) > div:nth-child(1) > div.notion-topbar > div:nth-child(1) {
    height: 55px !important;
    background-color: var(--color-header-alt) !important;
}

#notion-app > div > div.notion-cursor-listener > div:nth-child(2) > div:nth-child(1) > div.notion-topbar > div:nth-child(1) > div:nth-child(1)  {
margin-left: 60px !important;
}



/* ==============
Hider
=============== */
div.notion-help-button.notion-focusable { 
display: none !important; 
}

div.notion-help-button.notion-focusable { 
display: none !important; 
}

/*
div.notion-fadein { 
display: none !important; 
}
*/

#notion-app > div > div:nth-child(1) > div:nth-child(1) > div > nav { 
display: none !important; 
}

/*settings 侧边栏*/
#notion-app > div > div.notion-overlay-container.notion-default-overlay-container > div:nth-child(2) > div > div:nth-child(2) > div > div:nth-child(1) {
  background: hsl(0deg 40% 70% / 0%) !important;
} 
/*database preview header*/
#notion-app > div > div.notion-overlay-container.notion-default-overlay-container > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) {
  background: hsl(0deg 40% 70% / 0%) !important;
} 

/* ==============
Sidebar
=============== */
/* Left */
div.notion-sidebar-container {
background: hsl(0deg 40% 70% / 0%) !important;
}  
style attribute  {
background: hsl(0deg 40% 70% / 0%) !important;
}  
div.notion-cursor-listener  {
background: hsl(0deg 40% 70% / 0%) !important;
}  
div.notion-app-inner.notion-dark-theme {
background: hsl(0deg 40% 70% / 0%) !important;
}  
body.dark {
background: hsl(0deg 40% 70% / 0%) !important;
}  
body.notion-body.dark {
background: hsl(0deg 40% 70% / 0%) !important;
}  

/*Right*/
#notion-app > div > div.notion-cursor-listener > div:nth-child(4) > div > div > div > div:nth-child(3) > div:nth-child(2) {
background: hsl(0deg 40% 70% / 0%) !important;
}  

div.notion-update-sidebar-tab-updates-header {
background: hsl(0deg 40% 70% / 0%) !important;
}  

div.notion-update-sidebar {
background: hsl(0deg 40% 70% / 0%) !important;
}  

#notion-app > div > div.notion-cursor-listener > div:nth-child(4) > div > div > div > div:nth-child(3) {
background: hsl(0deg 40% 70% / 0%) !important;
}  

#notion-app > div > div.notion-cursor-listener > div:nth-child(4) > div > div > div > div:nth-child(3) > div.notion-update-sidebar-tab-comments-header {
background: hsl(0deg 40% 70% / 0%) !important;
}  

/* ==============
Fonts
=============== */
:root {
  --theme--font_sans: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --theme--font_serif: Lyon-Text, Georgia, YuMincho, 'Yu Mincho',
    'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'Songti TC', 'Songti SC',
    SimSun, 'Nanum Myeongjo', NanumMyeongjo, Batang, serif;
  --theme--font_mono: iawriter-mono, Nitti, Menlo, Courier, monospace;
  --theme--font_code: SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --theme--font_quote: var(--theme--font_sans);
  --theme--font_headings: var(--theme--font_sans);
}
[style*='Segoe UI'] {
  font-family: var(--theme--font_sans) !important;
}
[style*='Georgia'] {
  font-family: var(--theme--font_serif) !important;
}
[style*='iawriter-mono'] {
  font-family: var(--theme--font_mono) !important;
}
[style*='SFMono-Regular'] {
  font-family: var(--theme--font_code) !important;
}
.notion-selectable.notion-quote-block div[spellcheck='true'] {
  font-family: var(--theme--font_quote) !important;
}
[placeholder='Heading 1'],
[placeholder='Heading 2'],
[placeholder='Heading 3'] {
  font-family: var(--theme--font_headings) !important;
}

/* ==============
Scroller
=============== */
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  overflow: overlay !important;
}

::-webkit-scrollbar-track {
background: hsl(0deg 40% 70% / 0%) !important;
}  

::-webkit-scrollbar-thumb {
  border-radius: 50px !important;
  background-color: var(--color-scroller-thumb-alt) !important;
}

div.notion-scroller.vertical.horizontal {
    margin-right: 3px !important;
    margin-bottom: 3px !important;
    overflow: overlay !important;
}

div.notion-scroller.vertical {
    margin-right: 3px !important;
    overflow: overlay !important;
}

div.notion-scroller.horizontal {
    margin-bottom: 3px !important;
    overflow: overlay !important;
}

::-webkit-scrollbar-corner {
  background: hsl(0deg 40% 70% / 0%) !important;
  }  

/* ==============
Menu Vibrancy
=============== */
/*
---一般菜单---
*/
/*light*/
*[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;"] {
  background-color: var(--color-menu-background-alt) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-radius: 8px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(140, 140, 140, 0.5) !important;
}
/*Dark*/
*[style*="box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;"] {
  background-color: var(--color-menu-background-alt) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-radius: 8px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(140, 140, 140, 0.5) !important;
}

/*
---quick search---
*/
/*light*/
*[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;"] {
  background-color: var(--color-menu-background-alt) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(140, 140, 140, 0.5) !important;
}
/*Dark*/
*[style*="box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;"] {
  background-color: var(--color-menu-background-alt) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(140, 140, 140, 0.5) !important;
}
/*
---settings---
*/
/*light*/
*[style*="box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;"] {
  background-color: var(--color-menu-background-alt) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(140, 140, 140, 0.5) !important;
}
/*Dark*/
*[style*="box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;"] {
  background-color: var(--color-menu-background-alt) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(140, 140, 140, 0.5) !important;
}

/*
---database preview---
*/
/*light and dark*/
*[style*="box-shadow: rgba(15, 15, 15, 0.016) 0px 0px 0px 1px, rgba(15, 15, 15, 0.03) 0px 3px 6px, rgba(15, 15, 15, 0.06) 0px 9px 24px;"] {
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(140, 140, 140, 0.5) !important;
}
