/* site.css */

/* header is draggable... */
div.notion-topbar {
  -webkit-app-region: drag;
}
div.notion-sidebar-container {
  -webkit-app-region: drag;
}
html.notion-front-page{
  -webkit-app-region: drag;
}


/* but any buttons inside the header shouldn't be draggable */
div.notion-topbar-action-buttons {
  -webkit-app-region: no-drag;
}
/*div.notranslate {
  -webkit-app-region: no-drag;
}*/
div.notion-sidebar {
  -webkit-app-region: no-drag; 
}

/* move some items out of way for the traffic light */
div.notion-sidebar {
  margin-top: 45px; !important
}

/* hider */
div.notion-help-button.notion-focusable { 
display: none !important; 
}
div.notion-help-button.notion-focusable { 
display: none !important; 
}
div.notion-fadein { 
display: none !important; 
}
#notion-app > div > div:nth-child(1) > div:nth-child(1) > div > nav { 
display: none !important; 
}

/* make sidebar transplant */
div.notion-sidebar-container {
background: hsl(0deg 40% 70% / 0%) !important;
}  
style attribute  {
background: hsl(0deg 40% 70% / 0%) !important;
}  
div.notion-cursor-listener  {
background: hsl(0deg 40% 70% / 0%) !important;
}  
div.notion-app-inner.notion-dark-theme {
background: hsl(0deg 40% 70% / 0%) !important;
}  
body.dark {
background: hsl(0deg 40% 70% / 0%) !important;
}  
body.notion-body.dark {
background: hsl(0deg 40% 70% / 0%) !important;
}  

/* change font */
:root {
  --theme--font_sans: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --theme--font_serif: Lyon-Text, Georgia, YuMincho, 'Yu Mincho',
    'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'Songti TC', 'Songti SC',
    SimSun, 'Nanum Myeongjo', NanumMyeongjo, Batang, serif;
  --theme--font_mono: iawriter-mono, Nitti, Menlo, Courier, monospace;
  --theme--font_code: SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --theme--font_quote: var(--theme--font_sans);
  --theme--font_headings: var(--theme--font_sans);
}
[style*='Segoe UI'] {
  font-family: var(--theme--font_sans) !important;
}
[style*='Georgia'] {
  font-family: var(--theme--font_serif) !important;
}
[style*='iawriter-mono'] {
  font-family: var(--theme--font_mono) !important;
}
[style*='SFMono-Regular'] {
  font-family: var(--theme--font_code) !important;
}
.notion-selectable.notion-quote-block div[spellcheck='true'] {
  font-family: var(--theme--font_quote) !important;
}
[placeholder='Heading 1'],
[placeholder='Heading 2'],
[placeholder='Heading 3'] {
  font-family: var(--theme--font_headings) !important;
}